    .container {
        display: flex;
        flex-direction: column;
        background-color: black;
        max-width: 800px;
        margin: auto;
        padding: 20px;
        font-family: Arial, sans-serif;
        gap: 10px;
        
    }

    .horizontal1 {
        display: flex;
        flex-direction: row;
        background-color: lime;
        margin-bottom: 20px;

    }

    .horizontal2 {
        flex-direction: row;
        background-color: yellow;
        display: flex;
        justify-content: space-around;
        margin-bottom: 10px;
        padding: 10px;
    }

    .vertical1 {
        background-color: darkblue;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .vertical2 {
        background-color: purple;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .horizontal3 {
        flex-direction: row;
        background-color: orange;
        display: flex;
        gap: 15px;
        margin-bottom: 20px;
    }

    .horizontal4 {
        flex-direction: row;
        background-color: pink;
        display: flex;
        justify-content: center;
        gap: 20px;
    }